.header-container {
    .header-title {
        text-align: center;
        color: azure;
        font-size: 56px;
    }
    .header-description {
        color: azure;
        font-size: 20px;
        text-align: center;
    }
    .socials-container {
        display: flex;
        justify-content: center;
        margin: 15px 20px 25px 15px;
        a {
            margin: 0 15px;
        }
        svg {
            cursor: pointer;
        }
    }
}